<%- include("partials/header") -%> 
  
  <!-- Title -->
  
  <section id="title">

   

    <div class="container-fluid">

      <div class="row">
        <div class="col-lg-12">
          <h1 class="title-heading">Hi, I'm Pascal</h1>
          <h3 class="title-sub-heading">a Data Scientist</hw>
        </div>
      </div>
      
      <div class="row">
        <div class="col-lg-12">
          <img class="title-image" src="images/box-brain-clipart-transparent.png" alt="">
        </div>
      </div>

    </div>
  </section>

  <!-- About me -->

  <section id="about-me">
    <div class="container-fluid">
      
      <div class="row">
        <div class="col-lg-12 about-me-top">
          <img src="images/photo-me.png" class="me-image" alt="">
          <p class="about-me-paragraph">I am a Data Scientist at HDI, one of Germany's leading insurance companies, where I work on customer value models, churn prevention, marketing support, and data infrastructure improvements.  I have a strong interest in providing data-driven and action-oriented solutions to high-impact business problems. Besides work I enjoy building cool tech things, learning new languages (both natural and programming ones) and making music. Oh, and I love ice cream.</p>
        </div>
      </div>
      
      <hr class="section-sep">
      <h2 class="section-heading">The technologies I work with</h2>
        
      <div class="row">
    
        <div class="skill-box col-lg-6 col-sm-12">
          <img src="images/analysis.svg" class="skill-icon" alt="data-science">
          <h3 class="skill-title">Data Science & Engineering</h3>
          <p class="skill-desc">Understanding, analyzing, and visualizing phenomena with (big) data and statistics, building on a modern data pipeline and database/warehouse infrastructure.</p>
        </div>

        <div class="skill-box col-lg-6 col-sm-12">
            <img src="images/machine-learning.svg" class="skill-icon" alt="machine-learning">
            <h3 class="skill-title">AI & Machine Learning</h3>
            <p class="skill-desc">Employing state-of-the-art algorithms, such as neural networks and gradient-boosted decision trees, for predictive analytics and classification.</p>
        </div>

        <div class="skill-box col-lg-6 col-sm-12">
            <img src="images/cloud.svg" class="skill-icon" alt="cloud-computing">
            <h3 class="skill-title">Cloud Computing Solutions</h3>
            <p class="skill-desc">Building highly scalable applications and infrastructure for computation, data storage, and machine learning in the cloud on Amazon Web Services (AWS)</p>
        </div>

        <div class="skill-box col-lg-6 col-sm-12">
            <img src="images/webdev.svg" class="skill-icon" alt="web-development">
            <h3 class="skill-title">Web Development</h3>
            <p class="skill-desc">Creating front-end and back-end parts of responsive web applications and APIs which harness the potential of build-in data science solutions.</p>
        </div>
      </div>

      <hr class="section-sep">
      <h2 class="section-heading">Other things I like to do</h2>

      <div class="row other-things">
    
        <div class="skill-box col-lg-6 col-sm-12">
          <img src="images/teaching.svg" class="skill-icon" alt="teaching">
          <h3 class="skill-title">Teaching & Volunteering</h3>
          <p class="skill-desc">I used to teach English, German, maths, science, and coding, e.g. at <a href="http://ilec.edu.vn/">ILEC</a>, <a href="https://www.volunteersbase.com/asia/vietnam/jolly-club_i1273">Jolly Club</a>, <a href="https://jogjacommunityschool.org/">Jogjakarta Community School</a>, or <a href="https://projectchild.ngo/">Project Child Indonesia</a>.</p>
        </div>

        <div class="skill-box col-lg-6 col-sm-12">
            <img src="images/language.svg" class="skill-icon" alt="language-culture">
            <h3 class="skill-title">Language & Cultural Exchange</h3>
            <p class="skill-desc">I love to learn about culture and languages. Currently, I'm trying hard to keep my Indonesian and Malaysian skills at a decent level and to improve my Chinese.</p>
        </div>

        <div class="skill-box col-lg-6 col-sm-12">
            <img src="images/guitar.svg" class="skill-icon" alt="making-music">
            <h3 class="skill-title">Making Music</h3>
            <p class="skill-desc">I enjoy listening to and making music, mostly playing blues or rock on acoustic or electric guitar or base. I also have a sizeable collection of flutes :D</p>
        </div>

        <div class="skill-box col-lg-6 col-sm-12">
          <img src="images/chemistry.svg" class="skill-icon" alt="materials-science">
          <h3 class="skill-title">Materials Science</h3>
          <p class="skill-desc">During my studies, I did a lot of <a href="https://github.com/Pascal-Bliem/my-papers-and-theses#peer-reviewed-publications">experimental and computational research</a> in materials science at RWTH Aachen, Uppsala, and National Tsing Hua Universities  </p>
        </div>

      </div>
    </div>
  </section>


   <section id="blog-carousel">
     <% if (carouselPosts) {  %>
      <h2 class="section-heading">Check out my <a href="/blog" style="color: #212529;">blog</a></h2> 
      <div id="carouselIndicators" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
          <% for (let i=0; i<carouselPosts.length;i++){  %> 
            <% if (i===0){  %>
              <li data-target="#carouselIndicators" data-slide-to="<%= i %>" class="active"></li>
            <% } else { %> 
              <li data-target="#carouselIndicators" data-slide-to="<%= i %>"></li>
            <% } %> 
          <% } %> 
        </ol>
        <div class="carousel-inner">
          <% for (let i=0; i<carouselPosts.length;i++){  %> 
            <% if (i===0){  %>
              <div class="carousel-item active">
            <% } else { %> 
              <div class="carousel-item">
            <% } %> 
            <!--  -->
                <div class="card ml-auto mr-auto blog-post-card">
                  <img class="card-img-top" src="<%= carouselPosts[i].titleImage %>" alt="Slide <%= i %>">
                  <div class="card-body">
                    <h1 class="post-title"><%= carouselPosts[i].title %></h1>
                    <h2 class="post-subtitle"><%= carouselPosts[i].subTitle %></h2>
                    <p class="post-date-published"><em>Posted on <%=carouselPosts[i].datePublished.toLocaleDateString('de-DE')%> | Keywords: <strong><%= carouselPosts[i].tags.join(" ") %></strong></em></p>
                    <a href="/blog/<%= carouselPosts[i].title_lower %>" class="stretched-link">Read More</a>
                  </div>
                </div>
              <!--  -->
            </div>
          <% } %> 
        </div>
        <a class="carousel-control-prev" href="#carouselIndicators" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIndicators" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
     <% }  %> 
   </section>

  <!-- Contact -->

  <section id="contact">
    <div class="container-fluid">
      <h2 class="section-heading">Get in touch with me</h2>
      <p>let's exchange ideas on data, tech, science, and culture</p>
      
      <div class="row">
    
        <div class="contact-box col-lg-3 col-md-6 col-sm-12">
          <i class="fab fa-github contact-icon"></i>
          <a href="https://github.com/Pascal-Bliem" class="contact-desc text-dark">Github</a>
        </div>

        <div class="contact-box col-lg-3 col-md-6 col-sm-12">
          <i class="fab fa-linkedin contact-icon"></i>
          <a href="https://www.linkedin.com/in/pascal-bliem/" class="contact-desc text-dark">LinkedIn</a>
        </div>

        <div class="contact-box col-lg-3 col-md-6 col-sm-12">
          <i class="fab fa-twitter-square contact-icon"></i>
          <a href="https://twitter.com/BliemPascal" class="contact-desc text-dark">Twitter</a>
        </div>
        
        <div class="contact-box col-lg-3 col-md-6 col-sm-12">
          <i class="fas fa-envelope contact-icon"></i>
          <a href="mailto:bliem.pascal@gmail.com" class="contact-desc text-dark">Mail</a>
        </div>

      </div>
    </div>
  </section>


  <!-- Bio -->

  <section id="bio">
    <div class="container-fluid">
      <h2 class="section-heading">My short Bio</h2>
      <div class="row">
        <div class="bio-box col-lg-6 col-md-12 col-sm-12">
          <p>I'm currently employed as a Data Scientist at HDI, one of Germany's leading insurance companies, 
            where I work on customer value models, churn prevention, marketing support, and data infrastructure 
            improvements.</p>
            <p>Between my graduation and starting my current job, I spent over a year backpacking through 10 southeast Asian 
            countries, staying significant portions of the time in Vietnam and Indonesia, where I volunteered as a 
            teacher. During my travels, I got the chance to work on several 
            <a href="https://github.com/Pascal-Bliem?tab=repositories">personal projects</a> to sharpen my data 
            science and coding skills, as I was transitioning to the field from a background of academic research.</p>
            <p>2018 I graduated summa cum laude with a master degree in materials engineering from RWTH Aachen 
            University, where I had also been working in <a href="https://www.mch.rwth-aachen.de/">materials chemistry</a>
            and <a href="https://www.institut-1a.physik.rwth-aachen.de/">phyiscs</a> reasearch, supplemented by 
            research stays at <a href="http://m102.nthu.edu.tw/~s102011510/index.html">National Tsing Hua University</a>
            and <a href="https://www.physics.uu.se/research/materials-physics+/">Uppsala University</a>.</p>
            <p>My <a href="https://github.com/Pascal-Bliem/my-papers-and-theses#peer-reviewed-publications">research</a> 
            focused mostly on experimental and computational investigation of synthesis and characterization of 
            nano-scaled materials and thin films for applications in energy generaion, electronics, and wear resistance.</p>

            </p>
        </div>
        <div class="bio-box col-lg-6 col-md-12 col-sm-12">
          <ul>
            <li><span class="bio-year-span">Since 2020:</span><br>Data Scientist at HDI Systeme AG</li>
            <li><span class="bio-year-span">2018 - 2019:</span><br>Backpacking & Volunteer Teaching in South East Asia</li>
            <li><span class="bio-year-span">2013 - 2018:</span><br>Materials Science Reasearcher at RWTH Aachen University </li>
            <li><span class="bio-year-span">2015 -2018:</span><br>Master in Materials Engineering at RWTH Aachen University</li>
            <li><span class="bio-year-span">2012 -2015:</span><br>Bachelor in Industrial Engineering at RWTH Aachen University</li>
          </ul>
        </div>
      </div>
    </div>
  </section>


<%- include("partials/footer") -%> 